<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUSE Edge Support Matrix</title>
    <style>
        table {
    width: 100%;
    border-collapse: collapse;
}

body {
    font-family: suse, Verdana, sans-serif; 
  }

  .release-header:hover {
    background-color: #30ba78; 
  }

th, td {
    border: 1px solid #ddd; /* Slightly lighter border */
    padding: 8px;
    text-align: left;
}

th {
    color: #fff; /* Darker header text */
}

thead {
    background-color: #0c322c;
}

tbody tr:nth-child(even) {
    background-color: #ffffff; /* White background for even rows */
}

tbody tr:hover {
    background-color: #f0f0f5; /* Light gray on hover */
}
    .release-header {
      cursor: pointer; /* Indicate that the header is clickable */
      position: relative; /* To position the arrow relative to the header */
    }
    .arrow {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      position: absolute;
      right: 10px; /* Adjust position as needed */
      top: 50%;
      transform: translateY(-50%) rotate(45deg); /* Rotate for arrow shape */
      transition: transform 0.2s ease; /* Add a smooth transition */
    }
    .release-table {
      display: none;
      margin-bottom: 20px;
    }
    .expanded .arrow {
      transform: translateY(-50%) rotate(-135deg); /* Rotate arrow when expanded */
    }
    </style>
</head>

<body>

  <h1>SUSE Edge Support Matrix</h1>

  {% for release in data %}
  <div>
    <h2 class="release-header" onclick="toggleTable('table-{{ release.Version }}')">
      SUSE Edge {{ release.Version }} - <a href="{{ release.URL }}">Release Notes</a>
      <i class="arrow"></i> <span class="arrow-text"></span>
    </h2>
    <table class="release-table" id="table-{{ release.Version }}">
      <thead>
        <tr>
          <th>Component</th>
          <th>Component Version</th>
          <th>Artifact Location</th>
        </tr>
      </thead>
      <tbody>
        {% for component_name, component_data in release.Data.items() %}
        <tr>
          <td>{{ component_data.Name }}</td>
          <td>{{ component_data.Version }}</td>
          <td>{{ component_data['Artifact Location (URL/Image)'] | safe }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}

  <footer>
    <p>Generated on: {{ generation_time }}</p>
  </footer>

  <script>
    function toggleTable(tableId) {
      var table = document.getElementById(tableId);
      var header = document.querySelector(`[onclick="toggleTable('${tableId}')"]`); // Select the corresponding header
      if (table.style.display === "none") {
        table.style.display = "table";
        header.classList.add("expanded"); // Add expanded class to the header
      } else {
        table.style.display = "none";
        header.classList.remove("expanded"); // Remove expanded class
      }
    }
  </script>

</body>
</html>